<app-titlebar [showBackButton]="false" [showMenuButton]="true" titletext="Home" [showMyAlert]=showAlert>
</app-titlebar>

<ion-content>
  <div class="ion-padding">
    <h1>Hallo {{(currentUser$ | async).displayname}}!</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-training-tile *ngIf="currentTraining$ | async" [training]="currentTraining$ | async" [isHome]="true"></app-training-tile>
        <app-training-placeholder
          *ngIf="(currentTraining$ | async) === undefined || (currentTraining$ | async) === null">
        </app-training-placeholder>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentTraining$ | async" class="features">
      <!--<h3>Nächste Aktionen...</h3>-->
      <ion-col size="6">
        <ion-button *ngIf="(currentTraining$ | async).enabledFeatures.audio" routerLink="/audio-training"
          expand="block">Audio
        </ion-button>
      </ion-col>
      <ion-col *ngIf="containsSelfcompassion" size="6">
        <ion-button *ngIf="(currentTraining$ | async).enabledFeatures.journal?.name === 'selfcompassion'"
          routerLink="/journal/self-compassion-journal" expand="block">Tagebuch
        </ion-button>
      </ion-col>
      <ion-col *ngIf="containsSleepCare" size="6">
        <ion-button routerLink="/sleep-efficiency" expand="block">Schlafeffizienz</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>