<app-titlebar titletext="Neue Woche hinzufügen" [showBackButton]="false" [showCloseButton]="true">
</app-titlebar>
<ion-content #content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Legen Sie eine Woche fest!</ion-card-title>
    </ion-card-header>
    <ion-card-content >
    <ion-item>
      <ion-label position="stacked">Titel</ion-label>
      <ion-textarea [(ngModel)]="title" (ionChange)="hasEnteredScores($event)" placeholder="Meine Woche"></ion-textarea>
    </ion-item>
  </ion-card-content>
  <div class="ion-padding">
    <ion-button  *ngIf="saveButton" expand="block" (click)="handleClickSave()">Speichern</ion-button>
    <ion-button  *ngIf="!saveButton" disabled expand="block">Speichern</ion-button>
  </div>
</ion-card>
</ion-content>