<app-titlebar titletext="Audio" [showMyAlert]=showAlert></app-titlebar>

<ion-content>
  <ion-list *ngIf="!selectedTraining">
    <ion-item *ngFor="let n of [].constructor(3)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding" *ngIf="!!selectedTraining && selectedTraining.enabledFeatures.audio.lessons.length === 0">
    <ion-text color="medium">
      <h2>Es sind noch keine Audios für {{selectedTraining.name}} freigeschaltet.</h2>
    </ion-text>
  </div>

  <ion-list *ngIf="!!selectedTraining">
    <app-audio-list-item *ngFor="let audio of selectedTraining.enabledFeatures.audio.lessons" [audio]="audio"
      (click)="openPlayer(audio)"></app-audio-list-item>
  </ion-list>
</ion-content>