<ion-slides class="ion-margin-top" [options]="slideOpt" #slides (ionSlideWillChange)="slideChanged()"
  (ionSlidesDidLoad)="protocollCompleted(slides)">

  <ion-slide *ngFor="let element of protocol; let i = index">
    <div *ngIf="mode=='addEdit'" style="width: 100% !important;">

      <!-- EDIT mode -->
      <div *ngIf="editMode" >
        <ion-label *ngIf="element.type == 'yesNo'">{{element.label}}</ion-label>
        <div>
          <ion-button (click)="toSave(element.page,'Ja')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
            size="medium" color="light" (click)="nextPage(slides, element)">Ja</ion-button>
          <ion-button (click)="toSave(element.page,'Nein')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
            size="medium" color="medium" (click)="nextQuestion(slides,element.page)">Nein</ion-button>
        </div>

        <ion-label *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">{{element.label}}</ion-label>
        <div class="ion-margin-bottom">
          <ion-input (ionChange)="toSave(element.page,$any($event.target).value)"
            class="ion-margin-top ion-margin-bottom" *ngIf="element.type == 'inputNumber'" type="number"
            [(ngModel)]="entry[element.page]"></ion-input>
          <ion-input (ionChange)="toSave(element.page,$any($event.target).value)"
            class="ion-margin-top ion-margin-bottom" *ngIf="element.type == 'inputString'" type="text"
            [(ngModel)]="entry[element.page]"></ion-input>
          <ion-label class="ion-margin-top" *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">
            {{element.label2}}</ion-label>
        </div>

        <ion-label *ngIf="element.type == 'range'">{{element.label}}</ion-label>

        <div>
          <ion-range min="0" max="{{element.rangeStepsArray.length-1}}" step="1" snaps *ngIf="element.type == 'range'"
          (ionChange)="toSave(element.page,$any($event.target).value)" [(ngModel)]="entry[element.page]"> 
            <ion-icon color="danger" slot="start" name="thumbs-down-outline"></ion-icon>
            <ion-icon color="success" slot="end" name="thumbs-up-outline"></ion-icon>
          </ion-range>
        </div>



        <ion-label *ngIf="element.type == 'range'">{{element.rangeStepsArray[entry[element.page]]}}</ion-label>

        <ion-label *ngIf="element.type == 'range' && element.rangeStepsArray[entry[element.page]] == null">
          {{element.rangeStepsArray[2]}}</ion-label>

        <ion-label *ngIf="element.type == 'end'">{{element.label}}
          <div>
            <ion-icon name="ribbon-outline" color="success" style="font-size: 100px !important"></ion-icon>
          </div>
        </ion-label>

        <div>
          <ion-button class="ion-margin-top"
            *ngIf="element.type != 'yesNo' && element.type != 'end' && element.type != 'start'" size="medium"
            color="light" (click)="nextPage(slides, element)">Weiter</ion-button>
        </div>

        <div *ngIf="element.type == 'start'">
          <ion-label class="ion-margin-top">{{element.label}}</ion-label>
        </div>

        <div *ngIf="element.type == 'start'">
          <ion-button class="ion-margin-top" size="medium" color="light" (click)="nextPage(slides, element)">Starten
          </ion-button>
        </div>

      </div>


      <!-- ADD mode -->
      <div *ngIf="!editMode">

        <ion-label *ngIf="element.type == 'yesNo'">{{element.label}}</ion-label>
        <div>
          <ion-button (click)="toSave(element.page,'Ja')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
            size="medium" color="light" (click)="nextPage(slides, element)">Ja</ion-button>
          <ion-button (click)="toSave(element.page,'Nein')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
            size="medium" color="medium" (click)="nextQuestion(slides,element.page)">Nein</ion-button>
        </div>


        <ion-label *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">{{element.label}}</ion-label>
        <div class="ion-margin-bottom">
          <ion-input (ionChange)="toSave(element.page,$any($event.target).value)"
            class="ion-margin-top ion-margin-bottom" *ngIf="element.type == 'inputNumber'" type="number"></ion-input>
          <ion-input (ionChange)="toSave(element.page,$any($event.target).value)"
            class="ion-margin-top ion-margin-bottom" *ngIf="element.type == 'inputString'" type="text"></ion-input>

          <ion-label class="ion-margin-top" *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">
            {{element.label2}}</ion-label>

        </div>

        <ion-label *ngIf="element.type == 'range'">{{element.label}}</ion-label>

        <div>
          <ion-range min="0" max="{{element.rangeStepsArray.length-1}}" step="1" snaps *ngIf="element.type == 'range'"
            (ionChange)="toSave(element.page,$any($event.target).value)" [(ngModel)]="entry[element.page]">
            <ion-icon color="danger" slot="start" name="thumbs-down-outline"></ion-icon>
            <ion-icon color="success" slot="end" name="thumbs-up-outline"></ion-icon>
          </ion-range>
        </div>

        <ion-label *ngIf="element.type == 'range' && element.rangeStepsArray[entry[element.page]] != null">
          {{element.rangeStepsArray[entry[element.page]]}}</ion-label>

        <ion-label *ngIf="element.type == 'range' && element.rangeStepsArray[entry[element.page]] == null">
          {{element.rangeStepsArray[2]}}</ion-label>


        <ion-label *ngIf="element.type == 'end'">{{element.label}}
          <div>
            <ion-icon name="ribbon-outline" color="success" style="font-size: 100px !important"></ion-icon>
          </div>

        </ion-label>

        <div>
          <ion-button class="ion-margin-top"
            *ngIf="element.type != 'yesNo' && element.type != 'end' && element.type != 'start'" size="medium"
            color="light" (click)="nextPage(slides, element)">Weiter</ion-button>
        </div>

        <div *ngIf="element.type == 'start'">
          <ion-label class="ion-margin-top">{{element.label}}</ion-label>
        </div>

        <div *ngIf="element.type == 'start'">

          <ion-button class="ion-margin-top" size="medium" color="light" (click)="nextPage(slides, element)">Starten
          </ion-button>
        </div>

      </div>
    </div>

    <!-- READONLY mode -->
    <div *ngIf="mode=='readOnly'" style="pointer-events: none; width: 100% !important;">

      <ion-label *ngIf="element.type == 'yesNo'">{{element.label}}</ion-label>
      <div>
        <ion-button (click)="toSave(element.page,'Ja')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
          size="medium" color="light" (click)="nextPage(slides, element)">Ja</ion-button>
        <ion-button (click)="toSave(element.page,'Nein')" class="ion-margin-top" *ngIf="element.type == 'yesNo'"
          size="medium" color="medium" (click)="nextQuestion(slides,element.page)">Nein</ion-button>
      </div>

      <ion-label *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">{{element.label}}</ion-label>
      <div class="ion-margin-bottom">
        <ion-input (ionChange)="toSave(element.page,$any($event.target).value)" class="ion-margin-top ion-margin-bottom"
          *ngIf="element.type == 'inputNumber'" type="number" [(ngModel)]="entry[element.page]" readonly></ion-input>
        <ion-input (ionChange)="toSave(element.page,$any($event.target).value)" class="ion-margin-top ion-margin-bottom"
          *ngIf="element.type == 'inputString'" type="text" [(ngModel)]="entry[element.page]" readonly></ion-input>

        <ion-label class="ion-margin-top" *ngIf="element.type == 'inputNumber' || element.type == 'inputString'">
          {{element.label2}}</ion-label>

      </div>
      <ion-label *ngIf="element.type == 'range'">{{element.label}}</ion-label>
      <div>
        <ion-range min="0" max="{{element.rangeStepsArray.length-1}}" snaps *ngIf="element.type == 'range'"
          (ionChange)="toSave(element.page,$any($event.target).value)" [(ngModel)]="entry[element.page]">
          <ion-icon color="danger" slot="start" name="thumbs-down-outline"></ion-icon>
          <ion-icon color="success" slot="end" name="thumbs-up-outline"></ion-icon>
        </ion-range>
      </div>
      <ion-label *ngIf="element.type == 'range'">{{element.rangeStepsArray[entry[element.page]]}}</ion-label>

      <ion-label *ngIf="element.type == 'end'">{{element.label}}
        <div *ngIf="entry[slidesLength-1]">
          <ion-icon name="ribbon-outline" color="success" style="font-size: 100px !important"></ion-icon>
        </div>
      </ion-label>

      <div>
        <ion-button class="ion-margin-top"
          *ngIf="element.type != 'yesNo' && element.type != 'end' && element.type != 'start'" size="medium"
          color="light" (click)="nextPage(slides, element)">Weiter</ion-button>
      </div>
      <div *ngIf="element.type == 'start'">
        <ion-label class="ion-margin-top ion-margin-top">{{element.label}}</ion-label>
        <p *ngIf="mode=='readOnly' && !entry[slidesLength-1]">
          (Noch nicht bearbeitet!)
        </p>
      </div>
    </div>

  </ion-slide>

</ion-slides>
<ion-item-divider></ion-item-divider>
<ion-text color="danger" class="ion-text-center" *ngIf="mode=='readOnly'">Zum bearbeiten, nach rechts wischen!
</ion-text>
<div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" class="ion-text-center">

        <ion-button *ngIf="currentSlide != 1" color="medium" class="ion-float-left" fill="clear" (click)="jumpTo(0)">
          <i class="fas fa-angle-double-left" style="font-size: 20px !important"></i>
        </ion-button>

        <ion-button *ngIf="currentSlide != 1" color="medium" class="ion-float-left" fill="clear" (click)="prev(slides)">
          <i class="fas fa-angle-left" style="font-size: 20px !important"></i>
        </ion-button>

      </ion-col>

      <ion-col size="4" class="ion-text-center">

        <ion-button *ngIf="mode!='readOnly'" color="medium" fill="clear">
          <p style="font-size: 20px !important;">{{currentSlide}}/{{slidesLength}} </p>
        </ion-button>

        <ion-button *ngIf="mode=='readOnly' && entry[slidesLength-1]" color="medium" fill="clear">
          <p style="font-size: 20px !important;">{{currentSlide}}/{{slidesLength}} </p>
        </ion-button>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-button *ngIf="currentSlide != slidesLength && entry[slidesLength-1]" color="medium" class="ion-float-right"
          fill="clear" (click)="jumpTo(slidesLength)">
          <i class="fas fa-angle-double-right" style="font-size: 20px !important"></i>
        </ion-button>
        <ion-button *ngIf="currentSlide != slidesLength && entry[slidesLength-1]" color="medium" class="ion-float-right"
          fill="clear" (click)="next(slides)">

          <i class="fas fa-angle-right" style="font-size: 20px !important"></i>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>