  ion-input{
    border: solid 1px lightgray;
  }  

  ion-input{ 
    .text-input{ text-align: center; }
    font-size: 14px;
  }

  ion-item-divider{
    margin-top: 0px;
    min-height: 0px!important;
  }

  .sc-ion-label-md-h{
    white-space: normal !important;
    max-width: none !important;
  }
  