<app-titlebar titletext="Schlafeffizienz" [showMyAlert]=showAlert>
  <ion-toolbar>
    <ion-segment value="all" color="light" #segment>
      <ion-segment-button value="all" layout="icon-start">
        <ion-icon name="book"></ion-icon>
        <ion-label>Einträge</ion-label>
      </ion-segment-button>
      <ion-segment-button [disabled]="amountDays == 0" value="stats" layout="icon-start">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Statistik</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-titlebar>
<ion-content>
  <div class="ion-text-center">
    <ion-button (click)="toggleHelp()" fill="clear">
      <ion-icon slot="start" name="caret-down" [hidden]="helpIsShown"></ion-icon>
      <ion-icon slot="start" name="caret-up" [hidden]="!helpIsShown"></ion-icon>
      Schlafeffizienz Info
    </ion-button>
  </div>
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div #hintText [scrollTop]="hintText.scrollHeight" *ngIf="helpIsShown" class="ion-padding">
    <img src="assets/images/sleep-info.png">
  </div>
  <ion-list *ngIf="segment.value === 'all' && allWeeks.length > 0">
    <ion-item-sliding *ngFor="let entry of allWeeks">
      <ion-item (click)="handleClickOnEntry(entry)">
        <ion-avatar slot="start" style="width: auto;">
          <h4 style="margin-top: 5px;margin-bottom: 5px; color: gray; width: 60px;">{{entry.efficiency}}%</h4>
        </ion-avatar>
        <ion-label>
          <h2>{{entry.title}} <ion-badge class="ion-float-right" color="primary">{{entry.days.length}}/7</ion-badge>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="handleClickDelete(entry)">
          Löschen
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="info" *ngIf="segment.value === 'all' && 0 == allWeeks.length  ">
    <div class="ion-text-center">
      Fügen Sie zunächst eine Woche hinzu, um die Schlafeffizienz für ein Schlaffenster zu berechnen!
    </div>
  </div>
  <ion-fab class="ion-margin-bottom" horizontal="center" vertical="bottom" slot="fixed"
    (click)="handleClickAddWeek(); segment.value='all'" *ngIf="canAddWeek">
    <ion-fab-button color="primary" *ngIf="segment.value === 'all'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-sleep-chart *ngIf="segment.value === 'stats'" [sleepWeekEntries]="allWeeks" title="Übersicht der Wochentage"
    amount=7 type=days></app-sleep-chart>
  <app-sleep-chart *ngIf="segment.value === 'stats'" [sleepWeekEntries]="allWeeks" title="Die letzten 7 Schichteinträge"
    amount=7 type=days [shift]="true"></app-sleep-chart>
  <app-sleep-chart *ngIf="segment.value === 'stats'" [sleepWeekEntries]="allWeeks" amount=7
    title="Die letzten 7 Wocheneinträge" type=weeks></app-sleep-chart>


</ion-content>