<ion-header>
  <ion-toolbar>
    <ion-title>{{titletext}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenuButton"></ion-menu-button>
      <ion-back-button *ngIf="showBackButton" defaultHref="home"></ion-back-button>
      <ion-button *ngIf="showManuallyButton" href={{setHref}} size="small"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button (click)="openToast()"><ion-icon name="warning-outline" *ngIf="showMyAlert" style="background:yellow; border: 1px solid white; border-radius: 5px;" color="danger"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="showCloseButton" (click)="dismissSelf()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <!-- Custom buttons am Ende -->
      <ng-content select="ion-button"></ng-content>
    </ion-buttons>
  </ion-toolbar>

  <ng-content select="ion-toolbar"></ng-content>
</ion-header>
