<ion-card>
  <ion-card-header>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="(theType == 'days' && shift == false)">
      <ion-item>
        <ion-label>Woche</ion-label>
        <ion-select value="{{selectedTitle}}" (ionChange)="valueChanged($event)">
          <ion-select-option *ngFor="let entry of sleepWeekEntries; let i = index">{{entry.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="(theType == 'days' && shift == true)">
      <ion-item>
        <ion-label>Schicht</ion-label>
        <ion-select value="Früh" (ionChange)="shiftChanged($event)">
          <ion-select-option *ngFor="let entry of shiftArr; let i = index">{{entry}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <canvas #lineCanvas style="position: relative;"></canvas>
  </ion-card-content>
</ion-card>