<app-titlebar titletext="Tagebuch" [showMyAlert]=showAlert>
  <ion-toolbar>
    <ion-segment value="all" color="light" #segment>
      <ion-segment-button value="all" layout="icon-start">
        <ion-icon name="book"></ion-icon>
        <ion-label>Einträge</ion-label>
      </ion-segment-button>
      <ion-segment-button value="stats" layout="icon-start">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Statistik</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-titlebar>
<ion-content>
  <ion-list *ngIf="segment.value === 'all' && journalEntries.length > 0">
    <ion-item-sliding *ngFor="let entry of journalEntries">
      <ion-item (click)="handleClickOnEntry(entry)">
        <ion-avatar slot="start">
          <app-indicator-emoticon [score]="calcAvgScore(entry)" size="small"></app-indicator-emoticon>
        </ion-avatar>
        <ion-label>
          <h2>{{entry.date | date}}</h2>
          <p *ngIf="entry.text">{{entry.text}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="handleClickDelete(entry)">
          Löschen
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab class="ion-margin-bottom" horizontal="center" vertical="bottom" slot="fixed"
    (click)="handleClickAddEntry(); segment.value='all'" *ngIf="canAddEntry">
    <ion-fab-button color="primary" *ngIf="segment.value === 'all'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-padding" *ngIf="segment.value === 'all' && journalEntries.length === 0">
    <ion-text>
      Hier können Sie Momente für sich festhalten, in denen Sie achtsam mit sich umgegangen sind und / oder in denen Sie
      gut zu sich waren.
      Dies können z.B. Augenblicke sein, in denen… <br /><br />
      …Sie gelassen blieben, obwohl etwas nicht so gelaufen ist, wie erwünscht.<br /><br />
      …Sie sich im Alltag Ihre eigenen persönlichen Werte und Bedürfnisse bewusst machten, anstatt einzig auf die
      Erwartungen von außen zu achten und zu „funktionieren“.<br /><br />
      …Sie sich kleinere, umsetzbare Ziele setzten, statt die Ansprüche an sich selbst sehr hoch zu stecken.<br /><br />
      …Sie sich auch Ihre Stärken vor Augen führten, anstatt über Ihre Schwächen zu grübeln.<br /><br />
      …Sie etwas Neues ausprobiert haben, statt sich der Angst hinzugeben, dass es Ihnen nicht so gut gelingen
      könnte.<br /><br />
      Oder aber ganz allgemein all jene Alltagsmomente, in denen Sie das Gefühl hatten, sich etwas Gutes zu tun und sich
      Zeit für sich zu nehmen.
    </ion-text>
  </div>
  <app-chart [journalEntries]="journalEntries" score="scoreWohlfuehlen" title="Wohlbefinden in der letzten Woche"
    *ngIf="segment.value === 'stats'"></app-chart>

  <app-chart [journalEntries]="journalEntries" score="scoreWohlwollen" title="Wohlwollen in der letzten Woche"
    *ngIf="segment.value === 'stats'"></app-chart>

  <app-chart [journalEntries]="journalEntries" score="scoreAchtsamkeit" title="Achtsamkeit in der letzten Woche"
    *ngIf="segment.value === 'stats'"></app-chart>
</ion-content>