.tile-selected {
  --background: var(--ion-color-light);
  box-shadow: var(--md-shadow-12dp);
  border: 2px solid var(--ion-color-primary);

  ion-img::after {
    display: inline-block;
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
    padding: 10px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 0;
    content: "ausgewählt";
  }
}

.tile-header{
  position: absolute!important; 
  bottom:0; 
  background-color: white; 
  width: 100%; 
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tile-header-title{
  font-weight: bold;
}
