<ion-card *ngIf="training && !isSelected && !isHome">
  <ion-img style="height: 150px; object-fit: cover;" [src]="training.image" *ngIf="!!training.image"></ion-img>
  <ion-img style="height: 150px;"  src="assets/images/training-placeholder.jpeg" *ngIf="!training.image"></ion-img>
  <ion-card-header class="tile-header">
    <ion-card-subtitle>Training</ion-card-subtitle>
    <ion-card-title class="tile-header-title">{{training.name}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="tile-selected" *ngIf="training && isSelected  && !isHome">
  <ion-img style="height: 150px; object-fit: cover;" [src]="training.image"  *ngIf="!!training.image"></ion-img>
  <ion-img style="height: 150px;" src="assets/images/training-placeholder.jpeg" *ngIf="!training.image"></ion-img>
  <ion-card-header class="tile-header">
    <ion-card-subtitle>Training</ion-card-subtitle>
    <ion-card-title class="tile-header-title">{{training.name}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding" size-md="6" >
      <ion-card class="ion-no-margin" *ngIf="training && !isSelected && isHome" >
        <ion-img style="height: 200px; object-fit: cover;" [src]="training.image"  *ngIf="!!training.image"></ion-img>
        <ion-img style="height: 200px;" src="assets/images/training-placeholder.jpeg" *ngIf="!training.image"></ion-img>
        <ion-card-header class="tile-header">
          <ion-card-subtitle>Training</ion-card-subtitle>
          <ion-card-title>{{training.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

