  ion-list {
      background-color: transparent;
      border: 0 !important;
        box-shadow: none !important;
  }

  ion-card{
    border: 0 !important;
    box-shadow: none !important;
  }

  ion-item-divider{
    margin-top: 0px;
    min-height: 0px!important;
  }
  

  .icon {
    display: inline-block;
    
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }


   .emoji-icons{
    font-size: 20px !important;
   }

   ion-segment-button{
    min-width: auto !important;
  }

  .ion-color-light {
    --ion-color-base: var(--ion-color-primary) !important;
    }
