<app-titlebar titletext="{{title}}" [showBackButton]="true" [showMyAlert]=showAlert>

</app-titlebar>
<ion-content>
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div class="ion-padding-horizontal">
    <div class="ion-padding ion-text-center">
      <ion-title size="large">Schlafeffizienz: <span *ngIf="weekEfficiency != ''">{{weekEfficiency}}</span>%</ion-title>
    </div>
  </div>

  <ion-list *ngFor="let entry of allDays; let i = index" class="ion-no-padding">
    <ion-item-sliding>
      <ion-item>
        <ion-card style="width: 100% !important;">
          <ion-card-header (click)="toggleCard(i)" class="ion-no-padding">
            <ion-button fill="clear" style="width: 100%;">
              <ion-icon name="caret-down" [hidden]="cardIsShown[i].show"></ion-icon>
              <ion-icon name="caret-up" [hidden]="!cardIsShown[i].show"></ion-icon> &nbsp;
              <p class="ion-margin-start ion-margin-end" style="color:black !important">{{entry.toBed | date:
                'dd.MM.YY'}} -
                {{entry.getUp | date: 'dd.MM.YY'}}</p>
              <ion-badge color="medium" style="width: 65px !important;">{{entry.shift}}</ion-badge> &nbsp;
              <ion-badge color="primary" style="width: 50px !important;">{{entry.efficiency}}%</ion-badge>
            </ion-button>
          </ion-card-header>
          <ion-card-content class="ion-no-padding" *ngIf="cardIsShown[i].show">
            <ion-item-divider class="ion-no-padding">
              <p style="width: 100% !important;">ins Bett gegangen: <span class="ion-float-right">
                  {{entry.toBed | date: 'dd.MM.YYYY HH:mm'}}
                </span></p>
            </ion-item-divider>
            <ion-item-divider class="ion-no-padding">
              <p style="width: 100% !important;">eingeschlafen: <span class="ion-float-right">
                  {{entry.asleep | date: 'dd.MM.YYYY HH:mm'}}
                </span></p>
            </ion-item-divider>
            <ion-item-divider class="ion-no-padding">
              <p style="width: 100% !important;">aufgewacht: <span class="ion-float-right">
                  {{entry.wokeUp | date: 'dd.MM.YYYY HH:mm'}}
                </span></p>
            </ion-item-divider>
            <ion-item-divider class="ion-no-padding">
              <p style="width: 100% !important;">aufgestanden: <span class="ion-float-right">
                  {{entry.getUp | date: 'dd.MM.YYYY HH:mm'}}
                </span></p>
            </ion-item-divider>

            <ion-card-header class="ion-no-padding">
              <p>Anmerkung: {{entry.text}}</p>
            </ion-card-header>
            <ion-item-divider></ion-item-divider>

            <ion-card>
              <ion-card-header class="ion-no-padding">
                <ion-button fill="clear" style="width: 100%;">
                  <p style="color:black !important">Protokoll</p>
                </ion-button>
              </ion-card-header>

              <ion-segment value="morning" color="light" #segment>
                <ion-segment-button value="morning" layout="icon-start">
                  <ion-icon name="partly-sunny-outline"></ion-icon>
                  <ion-label>Morgen</ion-label>
                </ion-segment-button>
                <ion-segment-button value="evening" layout="icon-start">
                  <ion-icon name="cloudy-night-outline"></ion-icon>
                  <ion-label>Abend</ion-label>
                </ion-segment-button>
              </ion-segment>

              <ion-card-content>

                <div class="ion-text-center" *ngIf="segment.value === 'morning'">

                  <app-slider [entry]="entry.app_sleep_data_questions[0]" [protocol]="protocol[0]" mode="readOnly"
                    key="protocolMorning"></app-slider>
                </div>

                <div class="ion-text-center" *ngIf="segment.value === 'evening'">

                  <app-slider [entry]="entry.app_sleep_data_questions[1]" [protocol]="protocol[1]" mode="readOnly">
                  </app-slider>
                </div>

              </ion-card-content>
            </ion-card>


          </ion-card-content>


        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="handleClickDelete(entry)">
          Löschen
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option color="tertiary" (click)="handleClickEdit(entry, i)">
          Bearbeiten
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-card *ngIf="weekEfficiency != ''">
    <ion-card-header>
      <ion-card-title class="ion-padding">Schlafempfehlung</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text *ngIf="weekEfficiency > 90">
        Verlängern Sie Ihr Schlaffenster für die kommende Woche um 30 Minuten.
      </ion-text>
      <ion-text *ngIf="weekEfficiency >= 85 && 90 >= weekEfficiency">
        Behalten Sie das Schlaffesnter bei.
      </ion-text>
      <ion-text *ngIf="weekEfficiency >= 0 && 85 > weekEfficiency">
        Verkürzen Sie Ihr Schlaffenster für die kommende Woche um weitere 30 Minuten.
      </ion-text>
    </ion-card-content>
  </ion-card>
  <div class="info" *ngIf="0 == allDays.length">
    <div class="ion-text-center">
      Fügen Sie hier Ihr Schlafverhalten hinzu!
    </div>
  </div>
  <ion-fab class="ion-margin-bottom" horizontal="center" vertical="bottom" slot="fixed"
    (click)="handleClickAddEntry();">
    <ion-fab-button *ngIf="!maxSevenDaysInWeek" [disabled]="maxSevenDaysInWeek" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>