<app-titlebar titletext={{title}} [showBackButton]="false" [showCloseButton]="true">
</app-titlebar>

<ion-content #content>

  <ion-card *ngIf="workShifts">
    <ion-card-header class="ion-no-padding" (click)="toggleCard('cardIsShown')">
      <ion-button fill="clear" style="width: 100%;">
        <ion-icon slot="start" name="caret-down" [hidden]="cardIsShown"></ion-icon>
        <ion-icon slot="start" name="caret-up" [hidden]="!cardIsShown"></ion-icon>
        <p style="color:black !important">Schicht: {{selectedValue}}</p>
      </ion-button>
    </ion-card-header>
    <ion-card-content *ngIf="cardIsShown">
      <ion-segment value="{{selectedValue}}" (ionChange)="shiftValueChanged($event)" style="border-radius: 5px;">
        <ion-segment-button value="Früh">
          <ion-label>Früh</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Spät">
          <ion-label>Spät</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Nacht">
          <ion-label>Nacht</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Frei">
          <ion-label>Frei</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-no-padding" (click)="toggleCard('inputIsShown')">
      <ion-button fill="clear" style="width: 100%;">
        <ion-icon slot="start" name="caret-down" [hidden]="inputIsShown"></ion-icon>
        <ion-icon slot="start" name="caret-up" [hidden]="!inputIsShown"></ion-icon>
        <p style="color:black !important">Wann sind Sie ...</p>
      </ion-button>
    </ion-card-header>
    <ion-card-content *ngIf="inputIsShown">
      <ion-item>
        <ion-label>ins Bett gegangen</ion-label>
        <ion-datetime [(ngModel)]="toBedDefault" (ionChange)="hasEnteredScores('toBed',$event)"
          display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="toBedDefault">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>eingeschlafen</ion-label>
        <ion-datetime [(ngModel)]="asleepDefault" (ionChange)="hasEnteredScores('asleep',$event)"
          display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="asleepDefault">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>aufgewacht</ion-label>
        <ion-datetime [(ngModel)]="wokeUpDefault" (ionChange)="hasEnteredScores('wokeUp',$event)"
          display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="wokeUpDefault">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>aufgestanden</ion-label>
        <ion-datetime [(ngModel)]="getUpDefault" (ionChange)="hasEnteredScores('getUp',$event)"
          display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="getUpDefault">
        </ion-datetime>
      </ion-item>



      <ion-item>
        <ion-input [(ngModel)]="text" placeholder="Anmerkung"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-no-padding" (click)="toggleCard('protocolIsShown')">
      <ion-button fill="clear" style="width: 100%;">
        <ion-icon slot="start" name="caret-down" [hidden]="protocolIsShown"></ion-icon>
        <ion-icon slot="start" name="caret-up" [hidden]="!protocolIsShown"></ion-icon>
        <p style="color:black !important">Protokoll</p>
      </ion-button>
    </ion-card-header>
    <ion-card-content *ngIf="protocolIsShown">

      <ion-segment value="morning" color="light" #segment>
        <ion-segment-button value="morning" layout="icon-start">
          <ion-icon name="partly-sunny-outline"></ion-icon>
          <ion-label>Morgen</ion-label>
        </ion-segment-button>
        <ion-segment-button value="evening" layout="icon-start">
          <ion-icon name="cloudy-night-outline"></ion-icon>
          <ion-label>Abend</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="ion-text-center" *ngIf="segment.value === 'morning'">

        <app-slider [entry]="entry[0]" [protocol]="protocol[0]" mode="addEdit"
          (morningProtocolEvent)="getSaveMorningProtocol($event, 0)"></app-slider>
      </div>

      <div class="ion-text-center" *ngIf="segment.value === 'evening'">

        <app-slider [entry]="entry[1]" [protocol]="protocol[1]" mode="addEdit"
          (morningProtocolEvent)="getSaveMorningProtocol($event, 1)"></app-slider>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-text *ngIf="errorMsg" class="ion-text-center ion-margin" color="danger">
    Bitte überprüfen Sie Ihre Eingaben!
  </ion-text>

  <div class="ion-padding">
    <ion-button *ngIf="saveButton" expand="block" (click)="handleClickSave()">Speichern</ion-button>
    <ion-button *ngIf="!saveButton" disabled expand="block">Speichern</ion-button>
  </div>

</ion-content>