ion-slides {
    width: 100%;
  }

  .swiper-slide {
    display: block;
  }


  .icon {
    display: inline-block;
    
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }

   .emoji-icons{
    font-size: 20px !important;
   }

   ion-segment-button{
    min-width: auto !important;
}
.ion-color-light {
--ion-color-base: var(--ion-color-primary) !important;
}

