<app-titlebar titletext="Training auswählen" [showMyAlert]=showAlert></app-titlebar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle" pullingText="Herunterziehen zum aktualisieren."
      refreshingSpinner="dots" refreshingText="Wird aktualisiert...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
        <ion-col class="ion-no-padding" size="12" size-md="6" *ngFor="let training of shownTrainings">
        <app-training-tile [isSelected]="training?.id == (selectedTraining$ | async)?.id" [training]="training"
          (click)="trainingClickHandler(training)"></app-training-tile>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>