<app-titlebar titletext="Eintrag ansehen" [showBackButton]="false" [showCloseButton]="true">
</app-titlebar>

<ion-content>
  <div class="ion-padding ion-text-center">
    <ion-row>
      <ion-col>
        <app-indicator-emoticon [score]="entry.scoreWohlfuehlen" size="large"></app-indicator-emoticon>
        Wohlbefinden
      </ion-col>
      <ion-col>
        <app-indicator-emoticon [score]="entry.scoreWohlwollen" size="large"></app-indicator-emoticon>
        Wohlwollen
      </ion-col>
      <ion-col>
        <app-indicator-emoticon [score]="entry.scoreAchtsamkeit" size="large"></app-indicator-emoticon>
        Achtsamkeit
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding-horizontal">
    <h2>Eintrag vom {{entry.date | date}}</h2>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <p *ngIf="entry.text" [innerHTML]="entry.text | preformattedText"></p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
